nltk==3.5
Flask==1.1.2
pandas==1.0.3
gunicorn==19.9.0
Jinja2==2.11.3
MarkupSafe==1.1.1
Werkzeug==0.15.5
numpy>=1.9.2
scipy>=0.15.1
scikit-learn>=0.18
click==7.1.1
requests==2.23.0
webencodings==0.5.1
