{% extends 'base.html' %}
{% block content %}
<div class="shadow p-3 mb-5 bg-white rounded">
  <h1 style="color:rgb(0, 102, 255)">Welcome to Spam Detector App</h1>
  <h3 style="color:rgb(0, 102, 255)">Enter the sentence you want to check:</h3>
</div>

  <form action="{{url_for('recommend')}}">
    <input type="text" name="word" class="form-control" placeholder="Type you word here..." required>
    <br>
    <input type="submit" class="btn btn-info" value="Enter">
  </form>
{% endblock %}